.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	width: 90%;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ccc;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	box-sizing: border-box;
}

.InputElement:focus {
	outline: none;
	background-color: #ccc;
}

.Invalid {
	border: 1px solid red;
	/* background-color: #FDA49A; */
	box-shadow: 0 0 5px red;
}

.ValidationError {
	width: 90%;
	margin: auto;
	padding: 1px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-top: none;
}